* {
  margin: 0;
  padding: 0;                    
  font-family: "Nunito", Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

body {
  background-color: #f3dbcd;
  padding: 24px; 
}


main {
  display: flex; 
  gap: 16px;
  align-items: start;
  width: 100%; 
}

main:has(.sidebar) {
    display: grid;
    grid-template-columns: 260px 1fr;
}


.main-content-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%; 
}


.sidebar {
  background: transparent;         
  border: 1px solid #D9C5E3;
  border-radius: 12px;
  padding: 12px;
}
.navbar-lateral { 
  list-style: none; margin: 0; padding: 0; }
.navbar-lateral li { 
  margin: 6px 0; }

.titulo-nav {
  margin-top: 6px;
  font-weight: 900;
  color: #7C4D9E;
  padding: 8px 10px;
  background: #F7E9E0;
  border: 1px solid #D9C5E3;
  border-radius: 10px;
}

.navbar-lateral a {
  display: block;
  text-decoration: none;
  font-weight: 800;
  color: #333;
  padding: 10px 12px;
  border: 2px solid #D9C5E3;
  background: #fff;                
  border-radius: 10px;
}
.navbar-lateral a:hover { 
  background:#D9C5E3; color:#333; }



.container.tabela {
    padding: 0; 
    width: 100%; 
    overflow-x: auto; 
}

.container.tabela h1 {
  padding: 16px 16px 12px 16px; 
  margin: 0;
  font-size: 20px;
  color: #7C4D9E;
  font-weight: 900;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff; 
  border: 1px solid #E6DCEB;
  table-layout: auto;
  font-size: 14px; 
  min-width: 1100px;
}

thead th {
  background-color: #D9C5E3;
  color: #7C4D9E;
  padding: 12px 10px; 
  text-align: left;
  font-weight: 900;
  border-bottom: 2px solid #E9E1EE;
  white-space: nowrap;              
}

tbody td {
  padding: 12px 10px; 
  border-bottom: 1px solid #F0E9F5;
  vertical-align: top;
  white-space: normal;               
  word-break: break-word;           
}

tbody tr:nth-child(odd)  { 
  background-color: #FCFAFE; }

tbody tr:hover           { 
  background-color: #FAF6FD; }

.container.tabela a {
  color: #7C4D9E;
  text-decoration: none;
  font-weight: 800;
}
.container.tabela a:hover { 
  text-decoration: underline; 
}